html{
    background: url("../image/index_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
h1{
    margin: 32 32 0 32;
}
h3{
    margin: 0 32 20 32;
}
img{
    margin: 0 auto;
    max-width: 256px;
}
#wrapper{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(240,240,240);
    display: flex;
    border-radius: 32px;
}
#subtitle{
    color: rgb(140,140,140);
}
.flex{
    flex: 1;
    text-align: center;
}
.left{
    background-color: rgb(40,40,40);
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    color: white;
}
.right{
    background-color: rgb(240,240,240);
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    color: black;
}
a,button{
    border: 0;
    margin: 32px;
    text-decoration: none;
    font-size: 32px;
    padding: 12px 32px;
    display: inline-block;
    border-radius: 32px;
}
.btn-right{
    color: white;
    background-color: rgb(40,40,40);
}
#grey{
    background-color: rgba(90,70,70,0.5);
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#popup{
    width: 800px;
    background-color: white;
    color: black;
    margin: 0 auto;
    float: left;
    position: fixed;
    top: 50; right: 0; left: 0;
    display: none;
    border-radius: 32px;
}
#article{
    margin: 0 32px;
    height: 400px;
    background-color: rgb(240,240,240);
    border-radius: 32px;
}
.popup{
    float: right;
    margin-left: 0;
}





@media ( max-width: 820px ){
    #wrapper{
        margin: 0;
        flex-direction: column;
    }
    .flex{
        border-radius: 32px;
    }
}